body{
    
        background-image:url("co.jpg");
        background-repeat:no-repeat;
        background-size: 100%;
    }
    nav 
    {
        border: 2px solid black;
        border-width: thin;
        font-size: 20px;
        word-spacing: 10px;
        background-color:red(172, 112, 112);
    }
    
    

h4{
    text-align: left;
}